/**
 * @file
 * CSS for the gpt_translation admin pages.
 */

.gpt_translation-ui-info-item {
  float: left;
  margin-right: 80px;
}

@media
  screen and (min-width: 1180px) {
  .state-unprocessed #gpt_translation-ui-translator-wrapper {
    width: 50%;
    float: left;
  }

  .state-unprocessed #gpt_translation-ui-job-checkout-details {
    width: 50%;
    float: right;
  }

  .state-unprocessed #gpt_translation-ui-translator-wrapper details {
    margin-right: 1em;
  }

  .state-unprocessed #gpt_translation-ui-job-checkout-details details {
    margin-left: 1em;
  }

  #gpt_translation-ui-translator-wrapper .gpt_translation-logo-settings {
    float: inherit;
    margin-top: 0;
  }

}

@media
  screen and (min-width: 975px) {
  .gpt_translation-logo-settings {
    float: right;
    margin-top: -4.5em;
  }
}

@media
screen and (min-width: 1680px) {
  #gpt_translation-ui-translator-wrapper .gpt_translation-logo-settings {
    float: right;
    margin-top: -4.5em;
  }
}

.gpt_translation-ui-job-items-suggestions details {
  padding-top: 13px;
}

table.gpt_translation-ui-review td {
  vertical-align: top;
}

table.gpt_translation-ui-review input.unreviewed {
  text-decoration: line-through;
}

table.gpt_translation-ui-review input.reset-above {
  margin:5px 0;
}

table.gpt_translation-ui-review input.reviewed-below {
  margin: 0;

}

table.gpt_translation-ui-review tbody th {
  background: none;
  font-weight: bold;
}

.gpt_translation-review-message-inline {
  display: inline;
}

.gpt_translation-ui-data-item-label .form-item {
  /* Get the label out of way, so the status icon can be placed at the same
  relative position */
  position: absolute;
}

.gpt_translation-ui-data-item-label .form-item label {
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gpt_translation-ui-state {
  /* Visually align the icon with the text area next to it. */
  margin-top: 2.4em;
  text-align: center;
}

.gpt_translation-ui-state .gpt_translation-ui-icon {
  margin: 0 auto;
}

/* Base settings for the icon. */

.gpt_translation-ui-icon {
  float: left;
  color: #fff;
  text-align: center;
  border-style: solid;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

.gpt_translation-ui-icon img {
  vertical-align: text-bottom;
}

/* Icon sizes. */
.gpt_translation-ui-icon-32 {
  width: 32px;
  height: 32px;
  border-width: 1px;
  line-height: 32px;
  border-radius: 3px;
}

.gpt_translation-legend div {
  float: left;
}

.gpt_translation-legend-icon {
  float: left;
  margin: 2px 4px;
  margin-left: 20px;
}

.gpt_translation-sources-wrapper div.form-item {
  float: left;
  margin-right: 16px;
}

.gpt_translation-sources-wrapper input.form-submit {
  margin: 20px 0 0 0;
}

.gpt_translation-source-operations-wrapper .form-item-add-all-to-continuous-jobs,
.gpt_translation-source-operations-wrapper .form-item--add-all-to-continuous-jobs {
  display: inline-block;
}

.gpt_translation-source-operations-wrapper .seven-details__wrapper .form-item-add-all-to-continuous-jobs,
.gpt_translation-source-operations-wrapper .seven-details__wrapper .form-item--add-all-to-continuous-jobs {
  margin-bottom: 0.3rem;
  margin-top: 10px;
}

.gpt_translation-source-operations-wrapper .claro-details__wrapper .form-item-add-all-to-continuous-jobs,
.gpt_translation-source-operations-wrapper .claro-details__wrapper .form-item--add-all-to-continuous-jobs {
  margin-bottom: 1.75rem;
  margin-top: 1rem;
}

.view-gpt_translation-node-source-overview .view-filters, .gpt_translation-sources-wrapper {
  margin-right: 310px;
}

.gpt_translation-status {
  font-weight: 700;
  float: right;
}

.gpt_translation-ui-data-item-actions div {
  /* Visually align the action buttons with the text area next to them. */
  position: relative;
  margin-top: 2.4em;
}

.gpt_translation-ui-data-item-actions div input {
  text-align: center;
}

.gpt_translation_validation_message {
  width: 50%;
  float: right;
}

.gpt_translation-job-form .progress__bar {
  background-image: none;
}

.gpt_translation-job-form .progress__percentage {
  display: none;
}

.gpt_translation-progress {
  float: left;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

.gpt_translation-progress-pending {
  background-color: #0074BD;
}

.gpt_translation-progress-translated {
  background-color: #E29700;
}

.gpt_translation-progress-reviewed {
  background-color: #71b350;
}

.gpt_translation-progress-accepted {
  background-color: #578a3e;
}

td.views-field-word-count, th.views-field-word-count,
td.views-field-tags-count, th.views-field-tags-count,
td.views-field-item-count, th.views-field-item-count,
td.views-field-loop-count, th.views-field-loop-count {
  text-align: right;
}

.gpt_translation-local-progress-untranslated, .gpt_translation-local-progress-translated,
.gpt_translation-local-progress-completed {
  float: left;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

.gpt_translation-local-progress-untranslated {
  background-color: #E29700;
}

.gpt_translation-local-progress-translated {
  background-color: #0074BD;
}

.gpt_translation-local-progress-completed {
  background-color: #71b350;
}

td.views-field-status {
  text-align: center;
  padding: 0;
}

td.views-field-state {
  text-align: center;
  padding: 0 0 0 8px;
}

th.views-field-status, th.views-field-state {
  font-size: 0;
  padding: 0;
}

td.views-field-state img, td.views-field-status img {
  vertical-align: middle;
}

th.views-field-state a, td.views-field-status a {
  width: 0;
}

td.views-field-state {
  min-width: 16px;
}

td.views-field-tjid a {
  display: inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

 /* @todo Added while in core is set to "fixed". */
.gpt_translation-ui-review table.diff {
  table-layout: auto;
}

/* Provider logo */
.gpt_translation-logo-overview {
  max-height: 32px;
  display: inline;
  vertical-align: middle;
}
.gpt_translation-logo-settings {
  max-height: 120px;
  max-width: 250px;
  margin-right: 1em;
}

.content-optimize-options {
  position: relative;
}

.content-optimize-options div {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0;
  padding: 0.75rem 0.75rem 0.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: white;
  z-index: 9;
}

.content-optimize-options div input {
  margin: 0 0 0.75rem 0;
  padding: 0.5rem;
}

.content-optimize-options div .ajax-progress {
  display: none;
}
