/* Grey earth icon for gpt_translation. */
.toolbar-icon-gpt-translation-sources:before {
  background-image: url("../icons/earth.svg");
}
.toolbar-icon .toolbar-icon-gpt-translation-sources:before {
  background-image: url("../icons/earth.svg");
}
/* Black earth icon for gpt_translation - hover. */
#toolbar-icon-gpt-translation-sources.is-active:before {
    background-image: url("../icons/earth_black.svg");
}
.toolbar-icon .toolbar-icon-gpt-translation-sources:active:before,
.toolbar-icon .toolbar-icon-gpt-translation-sources.is-active:before {
    background-image: url("../icons/earth_black.svg");
}
