.gpt_translation-sources-wrapper .form-item {
  float: left;
  margin: 0 10px 0 0;
}

.gpt_translation-sources-wrapper #edit-search-submit {
  margin: 26px 10px 0 10px;
}

.gpt_translation-source-operations-wrapper {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
}

.gpt_translation-source-operations-wrapper .button {
  margin-top: 1em;
}

.gpt_translation-source-operations-wrapper .request-button {
  margin: 1rem 1rem 0;
}

.gpt_translation-source-operations-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.gpt_translation-source-operations-wrapper .form-item-target-language,
.gpt_translation-source-operations-wrapper .form-item--target-language {
  margin-left: 1em;
}

.gpt_translation-source-checkout-wrapper {
  flex: 1 1 50%;
  margin-right: 10px;
}

.gpt_translation-source-additional-wrapper {
  flex: 1 1 40%;
}

.gpt_translation-source-checkout-wrapper .details-wrapper, .gpt_translation-source-additional-wrapper .details-wrapper {
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
}

.gpt_translation-source-checkout-wrapper .details-wrapper .form-item-check-target-languages,
.gpt_translation-source-checkout-wrapper .details-wrapper .form-item--check-target-languages {
  width: 100%;
}

.gpt_translation-source-checkout-wrapper .details-wrapper .form-item-check-target-languages .check-control a,
.gpt_translation-source-checkout-wrapper .details-wrapper .form-item--check-target-languages .check-control a {
  cursor: pointer;
}

.gpt_translation-source-checkout-wrapper fieldset.form-wrapper {
  margin-top: 1em;
}

.gpt_translation-source-checkout-wrapper fieldset.form-wrapper .form-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

.gpt_translation-source-checkout-wrapper fieldset.form-wrapper .form-checkboxes .form-item {
  min-width: 200px;
}
